.periodeKort {
    margin: 0px;
    --ac-expansioncard-header-bg-hover: none;
    --ac-expansioncard-border-hover-color: none;
    --ac-expansioncard-border-radius: none;
    --ac-expansioncard-button-border-radius: none;
    --ac-expansioncard-header-bg: none;
    --ac-expansioncard-header-bg-hover: none;
    --ac-table-row-hover-border: none;
    --ac-table-row-hover: none;

--ac-expansioncard-bg:  none;
--ac-expansioncard-header-bg:  none;
--ac-expansioncard-header-bg-hover:  none;
--ac-expansioncard-header-open-bg:  none;
--ac-expansioncard-border-color: none;
--ac-expansioncard-border-open-color:  none;
--ac-expansioncard-border-radius:  none;
--ac-expansioncard-button-border-radius:  none;
--ac-expansioncard-border-hover-color:  none;

}

.eksapansjonsKort {
    padding: 0%;
    overflow: hidden;
    border-color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.datacell {
    --ac-expansioncard-header-bg-hover: none;
    --ac-expansioncard-border-hover-color: none;
}
.ekspansjonsKortTittel {
    display: flex;    
    align-items: center;
    border-color: white;
}

.ekspansjonsKortTittel div:first-child {
    display: flex;
    width: 100%;
}

.ekspansjonsKortTittel span {
    gap: 5px;
}

.cell {
    padding: 0 10px;
}

.cellDato {
    white-space: nowrap
}

.row {
    padding: 0% 10px;
    height: 90px;
}
#dinSoknadArbeidsgiverNavn {
    width: fit-content;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
@media screen and (max-width: 900px) {
    .ekspansjonsKortTittel {
        padding: 2px 10px;
    }
    .ekspansjonsKortTittel > button {
        min-height: 2.5rem;
        min-width: 2.5rem;
    }
    .ekspansjonsKortTittel > .statusTag {
        height: 2rem;
        width: 2rem;
    }
}