.periodeTimelineView {
    margin-bottom: 1rem;
    height: 500px;
    display: grid;
    background-color: white;
    grid-template-columns: [start] 60px [header] auto 20px [end];
    grid-template-rows: [start] 40px [header] auto [banerSlutt] 30px [end];
    padding: 1rem;
    border: 0.01rem solid;
    border-radius: 0.5rem;
    gap: 20px;
    position: relative;
}
.periodeTimelineView__alleBaner {
    height: fit-content;
    width: 100%;
    height: 100%;
    grid-column-gap: 20px;
    grid-column: 2/  2;
    grid-row: 2/ 2;
}
.periodeTimelineView__datoPilbane {
    width: 100%;
    height: 100%;
    position: absolute;
    grid-column: 1/ 4;
    grid-row: 2/ 2;
}
.periodeTimelineView__datoPil {
    z-index: 2;
}
.periodeTimelineView__datoPilTekst > p {
    margin: 0%;
    padding: 0%;
}
.periodeTimelineView__datoPilStrek {
    background-color: black;
    height: 2px;
    grid-column: 2; 
    margin-top: 9px;
}
.periodeTimelineView__baneHeaderBoks {
    display: grid;
    grid-template-columns: [start] auto [end];
    grid-column: header / end;
    grid-row: start / header;
}
.periodeTimelineView__bane {
    display: grid;
    position: relative;
}
.periodeTimelineView__periode {
    border-radius: 5px;
    border: 2px solid red;
    height: 100%;
}
.periodeTimelineView__yAkseElement {
    justify-content: center;
    align-items: center;
    display: flex;
}
.periodeTimelineView__yAkseElement > p {
    padding: 0%;
    margin: 0%;
}

