.saksoversikt__oppgaver {
    background-color: var(--a-orange-100);
}

.svartBorder {
    border: 1px solid;
    overflow: hidden;
}

.dashboardOrganizer {
    display: flex;
    flex-direction: row;
}

.dasboardSeksjon {
    margin-right: 10px;
    margin-bottom: 15px;
}